controller:
  replicaCount:  2
  
  metrics:
    enabled: true
    serviceMonitor:
      enabled: false
  
  resources:
    requests: 
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80

defaultBackend:
  enabled: true
  replicaCount: 1