apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
spec: 
  project: default
  sources:
    - chart: ingress-nginx
      repoURL: https://kubernetes.github.io/ingress-nginx
      targetRevision: 4.14.1
      helm:
        releaseName: ingress-nginx
        valueFiles:
          - $values/platform/infra-components/ingress-nginx/values.yaml
    
    - repoURL: https://github.com/kevorojas/gitops-argocd-demo.git
      targetRevision: main
      ref: values
  
  destination: 
    server: https://kubernetes.default.svc
    namespace: ingress-nginx